.app-header {
    background-color: #1C658C;
    font-size: 1rem;
    color: #EEEEEE;
    align-items: center;
    font-weight: 400;
    h3 {
        font-size: 2rem;
    }
    a {
        color: inherit;
    }
}