.app-header {
    background-color: #1C658C;
    font-size: 1rem;
    align-items: center;
    font-weight: 400;
    h3 {
        cursor: pointer;
        font-size: 2rem;
        img {
            width: 1.8rem;
            height: 1.8rem;
        }
    }
    a {
        color: inherit;
    }
}