.signup-page {
    p {
        margin: 10px 0;
    }

    input {
        font-size: 1rem;
        border: none;
        border-radius: 3px;
        &:focus {
            outline: none;
        }
    }
}