.move-list {
    // margin-inline-start: 2rem;
    gap: 10px;
    font-size: 1rem;
    max-width: 500px;
    min-width: 300px;
    h5 {
        font-size: inherit;
    }
    h4 {
        font-size: 1.2rem;
    }
    li {
        height: 5rem;
        border-top: 1px solid #1C658C;
        padding: 0 10px;
    }
    img {
        height: 1.5rem;
        width: 1.5rem;
    }
    .moves-title {
        gap: .5rem;
    }
}