.contact-list {
    li {
        :hover {
            background-color: #5795b9;
        }
    }
    .add-contact {
        position: absolute;
        bottom: 5px;
        right: 5px;
        padding: 5px 15px;
        color: inherit;
        font-weight: 300;
        border-radius: 50%;
        font-size: 2rem;
        background-color: #C74B50;
        &:hover {
            background-color: #c73035;
        }
    }
}