.contact-filter {
    input {
        background-color: #1E5F74;
        color: inherit;
        width: 100vw;
        font-size: 1rem;
        border: none;
        border-bottom: 1px solid #133B5C;
        padding: 7px;
        &:focus {
            outline: none;
        }
        &::placeholder {
            color: rgba(236, 236, 236, 0.856);
        }
    }
}