.contact-preview {
    a{
        gap: 10px;
        :hover {
            background-color: #5795b9;
        }
    }
    img {
        height: 2.3rem;
        width: 2.3rem;
    }
    margin-bottom: 5px;
}